<style media="screen">
  .form-control{
    border-radius:10px;
  }
</style>
<div class="container-fluid abc" >
  <div class="col-md-2">
    </div>
  <div class="col-md-10">
  <div class="row">
    <div class="col-md-offset-1">
      <img ng-click="back()" src="https://img.icons8.com/material-sharp/24/000000/left.png"/>
    <span ><u style="font-size:24px;padding-left:35%;"><b> Create New Class</u></b></span><br><br><br>
      </div>


    </div>


  <div class="row">
    <div class="col-md-offset-3 col-md-6">
    <div class="form-group">
      <label >Class Name:</label>
      <input type="text" class="form-control" ng-model="form.c_name" placeholder="name" >
    </div>
    </div>
    </div>
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
      <div class="form-group">
        <label >Class Fee:</label>
        <input type="text" class="form-control" ng-model="form.c_fee" placeholder="name" >
      </div>
      </div>
      </div>
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
        <div class="form-group">
          <label >Fee Installment:</label>
          <input type="text" class="form-control" ng-model="form.f_inst" placeholder="name" >
        </div>
        </div>
        </div>
        <div class="row">
          <div class="col-md-offset-3 col-md-6">
          <div class="form-group">
            <label >Subject 1:</label>
            <input type="text" class="form-control" ng-model="form.subject1" placeholder="name" >
          </div>
          </div>
          </div>
          <div class="row">
            <div class="col-md-offset-3 col-md-6">
            <div class="form-group">
              <label >Subject 2:</label>
              <input type="text" class="form-control" ng-model="form.subject2" placeholder="name" >
            </div>
            </div>
            </div>
            <div class="row">
              <div class="col-md-offset-3 col-md-6">
              <div class="form-group">
                <label >Subject 3:</label>
                <input type="text" class="form-control" ng-model="form.subject3" placeholder="name" >
              </div>
              </div>
              </div>
              <div class="row">
                <div class="col-md-offset-3 col-md-6">
                <div class="form-group">
                  <label >Subject 4:</label>
                  <input type="text" class="form-control" ng-model="form.subject4" placeholder="name" >
                </div>
                </div>
                </div>
                <div class="row">
                  <div class="col-md-offset-3 col-md-6">
                  <div class="form-group">
                    <label >Subject 5:</label>
                    <input type="text" class="form-control" ng-model="form.subject5" placeholder="name" >
                  </div>
                  </div>
                  </div>
                  <div class="row">
                    <div class="col-md-offset-3 col-md-6">
                    <div class="form-group">
                      <label >Subject 6:</label>
                      <input type="text" class="form-control" ng-model="form.subject6" placeholder="name" >
                    </div>
                    </div>
                    </div>
                    <div class="row">
                      <div class="col-md-offset-3 col-md-6">
                      <div class="form-group">
                        <label >Subject 7:</label>
                        <input type="text" class="form-control" ng-model="form.subject7" placeholder="name" >
                      </div>
                      </div>
                      </div>
                      <div class="row">
                        <div class="col-md-offset-3 col-md-6">
                        <div class="form-group">
                          <label >Subject 8:</label>
                          <input type="text" class="form-control" ng-model="form.subject8" placeholder="name" >
                        </div>
                        </div>
                        </div>


  <div class="row text-center">
  <div class="col-md-offset-5 col-md-2">
  <button style="width:120px;height:40px;background:#003366;color:white;border-radius:20px;" ng-click="saveClass()">SAVE</button>
  </div>
  </div>
</div>
</div>
