<style media="screen">

  body{
    background: #E5E5E5;
  }
  .dropbtn {
  background-color: #003366;
  color: white;
  font-size: 14px;
  border: none;
  cursor: pointer;
  width:90px;
}

.dropdown {
  /* position: relative; */
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width:180px;

}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #003366;
}
</style>



<div class="container-fluid abc" >
  <div class="col-md-2">
    </div>
  <div class="col-md-10">
  <div class="row">

      <div class=" col-md-3">
      <div class="form-group">
        <input type="text" class="form-control"  ng-model="form.search" ng-enter="enqdata()" placeholder="Search with ID No." style="border-radius:10px;" >


      </div>
      </div>
      <!-- <div class="col-md-offset-5 col-md-4">
  <button style="float:right;width:120px;height:40px;background:#003366;color:white;border-radius:20px;" ng-click="addAdmissionForm()">Add Admission</button>
      </div> -->
      </div>
      <div class="row"style="margin-top:2%;">
        <table class="table table-hover"  >
    <thead style="background: #003366;color:white;">
      <tr >
        <th>S.No</th>
        <th>Adm.No</th>
        <th>Student Name</th>
        <th>Class</th>
        <th>Section</th>
        <th>Father's Name</th>
        <th>Mother Name</th>
        <th>Mobile No.</th>


        <th style="padding-left:20px;">Action</th>
      </tr>
    </thead>
    <tbody >
      <tr ng-repeat="k in admdata">
        <td style="padding-left:20px;">{{$index+1}}</td>
        <td style="padding-left:20px;">{{k.admNo}}</td>
        <td style="padding-left:20px;">{{k.name}}</td>
        <td style="padding-left:20px;">{{k.addclass.c_name}}</td>
        <td style="padding-left:20px;">{{k.addsection.section}}</td>
        <td style="padding-left:20px;">{{k.father_name}}</td>
        <td style="padding-left:20px;">{{k.mother_name}}</td>
        <td style="padding-left:20px;">{{k.f_mobile}}</td>
        <td><button ng-click="adddiscount(k.pk)" style="width:100px;height:30px;background:#003366;color:white;border-radius:20px;">Discount</button>

        </td>


      </tr>

    </tbody>
  </table>
  </div>
  <div class="row">
            <div class="col-md-offset-5 col-md-1">
              <button type="button" class="btn btn-sm btn-primary btn-block" ng-click="prev()">Prev</button>
            </div>
            <div class="col-md-1">
              <button type="button" class="btn btn-sm btn-primary btn-block " ng-click="next()">Next</button>
            </div>
          </div>

</div>
</div>
